/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .wrapper_img {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
    grid-gap: 0.75em;
    padding: 0.5em;
  }
  .wrap_img {
    margin: 0;
  }
}

@media only screen and (min-width: 600px) {
  .wrapper_img {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: center;
    grid-gap: 0.75em;
    padding: 0.5em;
  }
  .wrap_img {
    margin: 0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .main-header {
    border-bottom: none;
    background: rgba(255, 255, 255, 0.25);
  }
  .main-header__menu {
    position: relative;
    display: grid;
    grid-template-columns: max-content 1fr;
    justify-content: space-between;
  }
  .main-menu {
    position: relative;
    width: 100%;
    height: var(--header-height);
    background-color: transparent;
    top: 0;
    right: 0;
    transform: translateX(0);
    transition: 0;
  }
  .main-container_banner {
    position: relative;
    width: 100%;
    margin-top: 0;
  }

  .list-main-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
  }
  .colum-list {
    display: flex;
    border-bottom: 1px solid var(--color-text);
  }
  .main_menu__item-link {
    color: var(--color-second-body-bg);
    height: 100%;
    padding: 0.5em 1em;
    border-radius: 2em;
    font-size: var(--smaller-font-size);
    transition: 0.15s;
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
    &:active {
      transition: 0s;
      transform: scale(0.95);
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
    }
  }
  .main-end {
    display: none;
  }
  .wrapper_img {
    grid-template-columns: repeat(3, auto);
    margin: 0 2em;
    grid-gap: 1em;
  }
  .wrap_img {
    filter: grayscale(1);
    transition: 0.1s;
    &:hover {
      box-shadow: 0 0 15px rgba(9, 133, 248, 0.9);
      transform: scale(1.05);
      z-index: 1;
      &:hover {
        filter: grayscale(0);
      }
    }
  }

  .btn_social {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0.1em;
    transform: translateY(1.5em);
    transition: 0.2s;
  }
  .list_social {
    display: flex;
    justify-content: space-evenly;
  }
  .list-social__item {
    margin: 0 0.25em;
  }
  .item-social_icon {
    width: 25px;
    height: 25px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .wrapper_img {
    grid-template-columns: repeat(4, auto);
    margin: 0 3em;
  }
  .main_menu__item-link {
    font-size: var(--small-font-size);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .wrapper_img {
    grid-template-columns: repeat(5, auto);
  }
  .main_menu__item-link {
    font-size: var(--normal-font-size);
  }
}
