.main-container_banner
  .miSlider.fade
    img(src='./static/content/img/wp_(4).jpg', alt='')
  .miSlider.fade
    img(src='./static/content/img/wp_(7).jpg', alt='')
  .miSlider.fade
    img(src='./static/content/img/wp_(1).jpg', alt='')
