header.main-header#main_header
  nav.main-header__menu
    div
      a(href="https://github.com/javiluli/my-online-cv", target="_blank", title="github.com/javiluli/my-online-cv")
        img(src="./static/content/svg/pg-logo.svg", alt="pg-logo").pg-logo
    nav.main-menu#main_menu
      ul.list-main-menu
        .colum-list
          li.main_menu__item: a(href="https://javiluli.github.io/my-online-cv/", target="_blank").main_menu__item-link My online CV
          li.main_menu__item: a(href="https://javiluli.github.io/hover-animations-btn/", target="_blank").main_menu__item-link Buttons
          li.main_menu__item: a(href="https://javiluli.github.io/custom-animated-checkbox/", target="_blank").main_menu__item-link Checkbox 
          li.main_menu__item: a(href="https://javiluli.github.io/icons-svg/", target="_blank").main_menu__item-link Icons SVG
          li.main_menu__item: a(href="https://github.com/javiluli/my-online-cv", target="_blank").main_menu__item-link GitHub
    .main-end#main-end
      .main-menu-toggle#main_menu_toggle
        span.span-menu-toggle#span_menu_toggle
        //- .colum-list
        //-   li.main_menu__item.wrapper-settings#settings_icon 
        //-     p.text-settings.text-set_1 Ajustes
        //-     img(src="./static/content/svg/settings.svg", alt="" ).settings-icon
        //-   li.main_menu__item.settings
        //-     ul.list-settings#list_settings
        //-       div
        //-         li.item-settings
        //-           p.text-settings Tema oscuro
        //-           label.main-end_label(for='switch')
        //-             input#switch.inpt-switch-theme(type='checkbox', name='theme')
                
