main.main-section-body
  div.wrapper_img
    -for(var x = 7; x > 0; x--)
     .wrap_img
      a(href="#")
        img(data-original="./static/content/img/wp_("+ x +").jpg", alt="")
      //- .btn_social
      //-   ul.list_social
      //-     li.list-social__item: a(href="")
      //-      img(src="./static/content/svg/twitter.svg", alt="").item-social_icon
      //-     li.list-social__item: a(href="")
      //-      img(src="./static/content/svg/facebook.svg", alt="").item-social_icon
      //-     li.list-social__item: a(href="")
      //-      img(src="./static/content/svg/instagram.svg", alt="").item-social_icon
      //-     li.list-social__item: a(href="")
      //-      img(src="./static/content/svg/github.svg", alt="").item-social_icon
        //- include list_social
